<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">{{>header}}
        <p>This site was created by Nizamudeen . It uses data from mapbox.com and weatherstack.com</p>
        <img class="portrait" src="/assets/profile.jpg">
    </div>
    <div>{{>footer}}</div>
</body>

</html>